/*CSS for final website
Nathan Jacobson
February 22nd 2024
*/
/*now the background of the whole page*/
body {
    background-color: #a5eaff;
    color: #363636;
    font-family: 'Courier New', Courier, monospace;
}

#wrapper {
    margin: auto; /*centers the elements*/
 
    background-image: linear-gradient(to bottom, #ffffff, #a5eaff);
    background-color: #90c7e3;
    border: 1px solid #c90000;
   
}

.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

* {
    box-sizing: border-box;
}
/*-------------------------------------------header-------------------------------------------------*/
header {
    /*configure background*/
    background-color: #dbd1c3;
    background-image: url(68_nova_ai.png);
    background-repeat: no-repeat;
    /*text proporties*/
    color: #000000;
    text-align: center;
    padding-bottom: .5em;
    padding-top: .5em;
}

header a {
    text-decoration: none;
    color: white;
}
header a:link {
    color: white;
}
header a:visited {
    color: white;
}
header a:hover{
    color: #ff0000;
}

h1{
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.25em;
}
/*------------------------------end header--------------------------------------------*/
/*------------------------------------navigation------------------------------------*/
nav {
    text-align: center;
    padding: 0.5em;
    /*text proporties*/
    font-weight: bold;
    font-size: 120%;
}

nav a {
    text-decoration: none;
    padding-left: .5em;
    padding-right: .5em;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
}

nav li{
    border-bottom: 1px solid #cccccc;
    text-align: center;
}

nav a:link{
    color: #dbd1c3;
}
nav a:visited {
    color: #9b9182;
}
nav a:hover {
    color: #af0000;
}
/*------------------------------------main------------------------------------------------*/
main{
    /*layout properties*/
   
    padding: 1px 20px 20px 30px;/* top right bottom left*/
    display: block;
    overflow:auto;
    /*style proporties*/
    background-color: #dbd1c3;
}

h2 {
    color: #1976d2;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px 1px #cccccc;
    text-align: center;
}
h3 {
    color: #ff0000;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px 1px #cccccc;
    text-align: center;
}

h4 {
    color: #b6b6b6;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px 1px #cccccc;
}

dt{
    color: #002171;
}

footer{
   
    padding: 2em;
    background-color: #dbd1c3;
    /*text style*/
    font-family: 'Courier New', Courier, monospace;
    font-size: 75%;
    font-style: italic;
    text-align: center;
}

.bold {
    color: #1976d2;
    font-weight: bold;
}

#contact {
    font-size: 90%;
}

#homehero {
    
    height: 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#myhero {
  
    height: 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#familyhero {
  
    height: 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#motorcycleshero {
  
    height: 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/*Everything above this is our standard and small display*/
/*Medium/tablet display*/
@media (min-width: 800px) {
    nav ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0.25em;
        justify-content: space-between;
        text-align: center;
    }
    nav li{
        border-bottom: none;
        display: inline;
    }
    section{
        padding-left: 2em;
        padding-right: 2em;

    }

/*configure grid for medium display for third and fourth page*/
.content main{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
}
h2{
    grid-row: 1/2;
    grid-column: 1/5;
}
section {
    grid-row: 2/3;
    grid-column: auto;
}
#special {
    grid-row: auto;
    grid-column: 1/5;
}
footer{
    grid-row: auto;
    grid-column: 1/5;
}
}

@media (min-width: 800px) {
    nav ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0.25em;
        justify-content: space-between;
        text-align: center;
    }
    nav li{
        border-bottom: none;
        display: inline;
    }
    section{
        padding-left: 2em;
        padding-right: 2em;

    }

/*configure grid for medium display for second page*/
.mycars main{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
}
h2{
    grid-row: 1/2;
    grid-column: 1/5;
    text-align: center;
}
section {
    grid-row: 2/3;
    grid-column: auto;
}
#special {
    grid-row: auto;
    grid-column: 1/5;
}
footer{
    grid-row: auto;
    grid-column: 1/5;
}
}

/*Large Grid*/
@media (min-width: 1300px) {
    nav ul{
        flex-flow: column;
        padding-top: 1em;
        text-align: right;
        border-bottom: 1px #000000;
    }
    nav li{
        border-bottom: 1px solid #cccccc;
        display: inline;
    }
    #wrapper {
        margin: auto;
        width: 80%;
        border: 1px solid rgb(255, 0, 0);
        display: grid;
        grid-template-columns: 180px auto;
        grid-template-rows: auto;
    }
    #wrapper header {
        grid-row: 1/2;
        grid-column: 1/3;
    }
    #wrapper nav {
        grid-row: 2/5;
        grid-column: 1/2;
    }
    #wrapper div {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    #wrapper main {
        grid-row: 3/4;
        grid-column: auto;
    }
    #wrapper footer {
        grid-row: auto;
        grid-column: auto;
    }
}